<h4>Update</h4>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title" placeholder=rental.title}}
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    {{input value=author id="author" placeholder=rental.author}}
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    {{input value=image id="image" placeholder=rental.image}}
  </div>
  <div class="form-group">
    <label for="text">Text</label>
    {{input value=text id="text" placeholder=rental.text}}
  </div>
  <button {{action 'update' post}}></button>
</form>
